body {
    color: black;
}

span {
    text-align: center;
}

#tieude {
    text-align: center;
    font-size: 110%;
    font-family: Algerian;
}

#content-service {
    text-align: left;
    text-indent: 50px;
    word-break: keep-all;
}

video {
    margin-right: 200px;
    margin-left: 200px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#content-1 {
    padding-bottom: 50px;
}

#service {
    padding-bottom: 50px;
}
